<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--Adding connection string and access to used database-->
    <add name="dbi428024" connectionString="Server=mssql.fhict.local;Database=dbi428024;User Id=dbi428024;Password=l3m3rd3d;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>