<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <!--Adding a connection to the SQL server database-->
      <add key="provider" value="System.Data.SqlClient"/>
      <!--Adding a connection string to communicate the database-->
      <add key="connectionString" value="Data Source=MICHAELPC;Initial Catalog=TaskBerryDB;Integrated Security=True;Pooling=False"/>
      
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>