<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--Adding connection string and access to used database-->
    <add name="TaskBerryDB" connectionString="Server=.;Data Source=MICHAELPC;Initial Catalog=TaskBerryDB;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>